<% include ../partials/header %>

    <% include ../partials/navbar %>
    <div class="container">

        <%if(!currentUser){%>
        <h1 class="center-align"> Explore community projects around you! </h1>
            <!--Project Display-->
            <div class="row text-center" style="display: flex; flex-wrap: wrap">

                <% projects.forEach(function(project){ %>
                    <div class="col s6">
                        <div class="card medium z-depth-5">
                            <div class="card-image">
                                <img src="<%=project.thumbnail%>">
                                </img>
                                <span class="card-title"><%=project.title%></span>
                            </div>
                            <div class="card-content">
                                <p><%=project.description%></p>
                            </div>
                            <div class="card-action">
                                <a href="/projects/<%=project._id%>/show">Learn More...</a>
                            </div>
                        </div>
                    </div>
            <% }); %>

        </div>

<%}else{%>
        <h1 class="center-align"> Explore community projects around you! </h1>
        <!--Project Display-->
        <div class="row text-center" style="display: flex; flex-wrap: wrap">

            <% projects.forEach(function(project){ %>
                <%if(project.community != "C4" && project.community != "CoRE"){%>
                <div class="col s6">
                    <div class="card medium z-depth-5">
                        <div class="card-image">
                            <img src="<%=project.thumbnail%>">
                            </img>
                            <span class="card-title"><%=project.title%></span>
                        </div>
                        <div class="card-content">
                            <p><%=project.description%></p>
                        </div>
                        <div class="card-action">
                            <a href="/projects/<%=project._id%>/show">Learn More...</a>
                        </div>
                    </div>
                </div>
                <%}%>
            <% }); %>

        </div>

        <h1 class="center-align"> Communities you are in... </h1>
        <!--Project Display-->
        <div class="row text-center" style="display: flex; flex-wrap: wrap">

            <% projects.forEach(function(project){ %>
                <%if(project.community == "C4" || project.community == "CoRE"){%>
                <div class="col s6">
                    <div class="card medium z-depth-5">
                        <div class="card-image">
                            <img src="<%=project.thumbnail%>">
                            </img>
                            <span class="card-title"><%=project.title%></span>
                        </div>
                        <div class="card-content">
                            <p><%=project.description%></p>
                        </div>
                        <div class="card-action">
                            <a href="/projects/<%=project._id%>/show">Learn More...</a>
                        </div>
                    </div>
                </div>
                <%}%>
            <% }); %>
    </div>
<%}%>

<% include ../partials/footer %>
